/* country stats */

.country{
    font-size: 32px;
    line-height: 37.5px;
    margin-bottom: 23px;
    margin-top: 14px;
    font-weight: 400px;
}
.statisticsContainer{
    display: flex;
    margin-top: 23px;
    line-height: 16.4px;   
    font-weight: 400px;
    
}
.list{
    margin-right: 53px;
  
}
.list:last-child{
    margin: 0;
  
}
.criteria{
    margin-bottom: 14px;
    line-height: 16.41px;
   font-weight: 400px;

}


.item, .itemMain,.itemGray,.itemRed{
    font-size: 14px;
    line-height: 16px;  
   font-weight: 400px;
    
}
.item:first-child{
  font-weight: 100;
  color: #333333;
}
.item:first-child, .itemMain:first-child,.itemGray:first-child{
    margin-right: 12px;
   font-weight: 300px;
   font-style: light;
}
.item:last-child, .itemMain:last-child,.itemGray:last-child{
   font-weight: 400px;

}



.item{
    font-weight: 300;
    margin-top: 14px;
    
    
}
.item:last-child{
    font-weight: 400;
    
    
}
.itemMain{
    font-size: 16px;
    line-height: 19px;
    font-weight: 400px;
    color: #333333;
    
}
.itemGray{
    font-weight: 300;
    color: #333333;
    opacity: 0.5;
    
}
.itemRed{
    color: #EB5757;
    
}
.backButton{
    padding: 8px 14px;
    display: inline-block;
    border: 1px solid #E8E8E8;
    background-color: #E8E8E8;
    color: #333333;
    cursor: pointer;
}

@media(max-width: 740px){
    .statisticsContainer{
        flex-direction: column;
    }
    .list{
        margin: 0 0 20px 0;
    }


}
